{% extends "base_minimal.html" %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="span16">
            <h1>Audrey M. Roy</h1>
            <p>Artist, illustrator, designer, coder, traveler.</p>
        </div>
    </div>

    <hr/>

    <!-- Top row of columns -->
    <div class="row">
        <div class="span16">
            <h2><a href="/art/">Art</a></h2>
            <h2><a href="/design/">Design</a></h2>
            <h2><a href="/code/">Code</a></h2>
            <h2><a href="/writings/">Writings</a></h2>
            <h2><a href="http://instagram.com/pyaudrey">Travels</a></h2>
            <h2><a href="/books/">Books</a></h2>
        </div>
    </div>
</div>
{% endblock %}
