{% extends "base_article.html" %}

{% block article %}
<h2>Writings</h2>

<h3>How-To</h3>
<ul>
    <li><a href="/writings/howto/deploy-html-site-to-s3/">How to Deploy a Static HTML Website to an Amazon S3 Bucket</a></li>
    <li><a href="/writings/howto/how-to-optimize-images/">How to Optimize Images at the Command Line</a></li>
</ul>

<h3>Illustration</h3>
<ul>
    <li><a href="/writings/illustration/anti-physics-thin-air/">The Anti-Physics of Thin Air</a></li>
</ul>

<h3>Design</h3>
<ul>
    <li><a href="/writings/design/exploration-harvey-balls-ideograms/">An Exploration of Harvey Balls Ideograms</a></li>
    <li><a href="/writings/design/consumer-notebook-homepage-redesign/">Consumer Notebook Homepage Redesign</a></li>
</ul>

<h3>Experiments</h3>
<ul>
    <li><a href="/writings/experiments/map/">Map</a></li>
</ul>

<h3>Random</h3>
<ul>
    <li><a href="/writings/random/savory-layer-cakes/">Savory Layer Cakes</a></li>
</ul>
{% endblock %}
