{% extends "base_article.html" %}

{% block article %}
<h2>Redesigning the Consumer Notebook Homepage</h2>

<p>The Consumer Notebook homepage has gone through a few redesigns since we launched our beta in November 2011.</p>

<p>Here&#8217;s the latest version:</p>

<p><a href='http://consumernotebook.com'><img alt='Consumer Notebook homepage redesign' src='/img/blog/consumer-notebook-homepage-02-12-2012-small.png' /></a></p>

<h2 id='fun_fact_i_made_mockups_before_coding'>Fun Fact: I Made Mockups Before Coding</h2>

<p>You might think that knowing HTML/CSS means that mockups are unnecessary. Well, that&#8217;s not true.</p>

<p>I actually spent 2 days tweaking the latest redesign in Inkscape and GIMP. Once I had the layout pixel-perfect, I spent the following morning coding up the HTML/CSS.</p>
{% endblock %}
