{% extends "base_article.html" %}

{% block article %}
<h2>An Exploration of Harvey Balls Ideograms</h2>

<p>Harvey Balls are often used in comparison tables, as a way to compare data quickly at a glance. There are several variations on them. Typically, they look something like this:</p>
<img alt='Harvey Balls' src='/img/blog/Harvey_Balls_Small.jpg' />
<p>See <a href='http://en.wikipedia.org/wiki/Harvey_Balls'>the Wikipedia entry</a> for more info.</p>

<p>For <a href='http://consumernotebook.com'>Consumer Notebook</a>&#8217;s comparison grid feature, I&#8217;m exploring new alternative representations of the traditional ideograms. Here are a few variations that I&#8217;m playing around with:</p>

<h2 id='letter_grades'>Letter Grades</h2>

<p>These versions feature the standard &#8220;report card&#8221; letter grades in the center:</p>
<img alt='Harvey Balls With Letter Grades' src='/img/blog/letter-grades.png' />
<p>The nice thing about this version is that letter grades are very intuitive without explanation.</p>

<h2 id='pie_slices'>Pie Slices</h2>

<p>This version applies my color palette to the traditional pie slice ideograms:</p>
<img alt='Harvey Balls - Colored Pie Slices' src='/img/blog/pie-slices.png' />
<h2 id='donuts'>Donuts</h2>

<p>This version consists of donuts of varying sizes:</p>
<img alt='Harvey Balls As Donuts' src='/img/blog/donuts.png' />
<h2 id='emoticons'>Emoticons</h2>

<p>Imagine you have a comparison grid of products where feelings are relevant. For example, suppose you&#8217;re comparing bicycle helmets and have a feature called Comfort, which you want to evaluate with ideograms to represent satisfaction:</p>
<img alt='Harvey Balls As Emoticons' src='/img/blog/emoticons.png' />
<h2 id='explanation'>Explanation</h2>

<p>These ideograms are shown in oversized form here. When placed into columns of a comparison grid, they&#8217;d be much smaller. Picture them as the bubbles on a Scantron sheet, easily scannable by the eye for rapid visual analysis.</p>

<p>The color scheme I&#8217;m using is one I&#8217;ve built upon for several years now. Think of the balls as fruits ranging from unripe to overripe. In RGB, it&#8217;s roughly a simple transform to step from one unit to the next.</p>

<p>Using simple color blocks would be inadequate, since 8% of males and 0.5% of females are color blind. Accessibility is very important. The following would be hard for color blind individuals to read:</p>
<img alt='Harvey Balls As Emoticons' src='/img/blog/squares.png' />
<h2 id='got_other_ideas'>Got Other Ideas?</h2>

<p>If you&#8217;re reading this and have other ideas, let me know.</p>
{% endblock %}
