{% extends "base_article.html" %}

{% block article %}
<h2>Savory Layer Cakes</h2>

<p>Cakes are pretty much always sweet.</p>

<p>It&#8217;s unfortunate for the segment of the population who doesn&#8217;t like sweet things. What if it&#8217;s your birthday and you don&#8217;t like cake, ice cream, cookies, or other sweets?</p>

<p>A savory layer cake would be interesting. The cake part would consist of material with the general flavor of bread but the texture of cake. There could be some kind of other savory flavor to the cakelike bread, such as:</p>

<ul>
<li>ham and zucchini</li>

<li>spinach bratwurst pesto</li>
</ul>

<p>The icing part would probably consist of spreadable cheese and sliced almonds.</p>
{% endblock %}
