{% extends "base_article.html" %}

{% block article %}
<h2>The Anti-Physics of Thin Air</h2>

<p>Here&#8217;s my latest illustration, titled &#8220;The Anti-Physics of Thin Air&#8221;:</p>
<a href='http://www.flickr.com/photos/orangepulp/7071320465/' title='The Anti-Physics of Thin Air by oranges, on Flickr'><img alt='The Anti-Physics of Thin Air' height='250' src='http://farm6.staticflickr.com/5346/7071320465_784951e8f5.jpg' width='500' /></a>
<p>In case you haven&#8217;t traveled high enough to see the top of a rainbow, this is what happens:</p>

<ul>
<li>The air becomes very, very thin.</li>

<li>Rainbow curvature distorts sharply. That&#8217;s why rainbows appear to be circular arcs from the ground. What you see from the ground is an optical illusion, similar to the illusions in the architecture of the <a href='http://en.wikipedia.org/wiki/Parthenon'>Parthenon</a>.</li>

<li>Trees grow on top of rainbows. Kites get stuck in these rainbow-trees.</li>

<li>Clouds who wish to rise to that altitude must be supported by balloons.</li>
</ul>

<p>Strange, isn&#8217;t it? I&#8217;m pretty certain that my facts are correct (after all, I did study engineering at MIT).</p>
{% endblock %}