{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span16">
    <h1>Pushing the limits of color and texture.</h1>
  </div>
</div>

<hr/>

<div class="row prepend-top2">
  <div class="span16">
    <h2>Art Installations: 2012-Present</h2>
    <p>I began working in a much larger scale in 2012, in collaboration with <a href="http://www.pydanny.com">Daniel Greenfeld</a>.</p>
  </div>
</div>

<div class="row prepend-top2">
  <div class="span16">
    <h3>The Colony of Lost, Long-Forgotten Rainbows</h3>
    <p>Large installation covering 3 walls at the Hive Gallery in downtown Los Angeles. Created over several weeks, in collaboration with Daniel Greenfeld.</p>

    <p>Paint, screws, wood.</p>

    <div class="row prepend-top2">
      <div class="span-two-thirds">
        <p>Angle shot of walls 1 and 2.</p>
        <img width="620" src="/img/art-installations/walls-1-2.jpg" />
      </div>
      <div class="span-one-third">
        <p>Close-up of clouds and mountains on wall 1.</p>
        <img width="300" src="/img/art-installations/mountains-wall-1.jpg" />

        <p class="prepend-top2">Close-up of lower rainbow on wall 2.</p>
        <img width="300" src="/img/art-installations/spotted-wall-2b.jpg" />

        <p class="prepend-top2">Close-up of lower mountains on wall 2.</p>
        <img width="300" src="/img/art-installations/mountains-wall-2.jpg" />
      </div>
    </div>

    <p class="prepend-top2">Here is wall 3 of the installation.</p>
    <img width="940" src="/img/art-installations/wall-3.jpg" />

    <div class="row prepend-top2">
      <div class="span-two-thirds">
        <p>Angle shot showing the depth and dimension of wall 3.</p>
        <img width="620" src="/img/art-installations/installation-close-up-large.jpg" />
      </div>
      <div class="span-one-third">
        <p>Close-up of lower rainbows on wall 3.</p>
        <img src="/img/art-installations/mosaic-wall-3.jpg" />
      </div>
    </div>
  </div>
</div>

<hr/>
<!-- Bottom row of columns -->
<div class="row prepend-top2">
  <div class="span-two-thirds">
    <p>Here we are in front of walls 1 and 2 of the installation.</p>
    <img width="620" src="/img/art-installations/walls-1-2-audrey-daniel.jpg" />
  </div>
  <div class="span-one-third">
    <h3 class="prepend-top2">Private, Public, & Corporate Art Commissions</h3>
    <p class="prepend-top2">Commission us to:</p>
    <p class="prepend-top2">Fill a large, empty wall in your home with rainbows, clouds, and mountains.</p>
    <p>Create a custom art installation for your office waiting area, hallway, or lobby.</p>
    <p>Design, build, and install large, site-specific outdoor art installations for new construction sites.</p>
    <p>And much more. The sky's the limit!</p>
    <p><a class="btn" href="/">&laquo; back</a></p>
  </div>
</div>
{% endblock %}