{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Pushing the limits of color and texture.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h2>Desserts: 2010</h2>
          <p>I forced myself to illustrate every dessert I ate, before I actually ate it.  As a result, my hungry longing for each dessert was captured in each illustration.</p>
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Brown and White</h3>
          <p>Pen and ink, watercolor.</p>
          <img src="/img/desserts/two-cupcakes.jpg" />
        </div>
      </div>

<!--
      <hr/>

      <div class="row prepend-top2">
        <div class="span16">
          <h3>Cinnamon Crumb Cupcake With Cream Cheese Icing</h3>
          <p>Pen and ink, watercolor.</p>
          <img width="200" src="img/desserts/cinnamon-crumb-cupcake-illustration.jpg" />
        </div>
      </div>

      <hr/>

      <div class="row prepend-top2">
        <div class="span16">
          <h3>Vanilla Cupcake with Strawberry Frosting</h3>
          <p>Pen and ink, watercolor.</p>
          <img src="img/desserts/vanilla-cupcake-illustration.jpg" />
        </div>
      </div>

      <hr/>

      <div class="row prepend-top2">
        <div class="span16">
          <h3>Chocolate Caramel Cupcake with Mocha Icing</h3>
          <p>Pen and ink, watercolor.</p>
          <img src="img/desserts/chocolate-caramel-cupcake.jpg" />
        </div>
      </div>
-->
      <hr/>
      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h3>Available for Commissions</h3>
          <p>I am available for custom art commissions.  Contact me for details.</p>
          <p><a class="btn" href="/">&laquo; back</a></p>
        </div>
      </div>
{% endblock %}