{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span16">
    <h1>Pushing the limits of color and texture.</h1>
  </div>
</div>

<hr/>

<!-- Top row of columns -->
<div class="row prepend-top2">
  <div class="span7">
    <h2>Digital Rainbows: 2007-2010</h2>
    <p>In 2007, I became obsessed with rainbows and clouds.</p>
    <p>I was getting ready for Mission Open Studios 2007, painting landscapes for the show.  At some point, I realized that I could write a computer program to automate the process, so I did.</p>
    <h3>Rainbows: Series 1</h3>
    <p>Series 1 consists of my early rainbows.</p>
    <h3>Rainbows: Series 1.5</h3>
    <p>Series 1.5 consists of developments in the structure of my rainbows.  Some of these pieces do not even contain rainbows.</p>
    <h3>Rainbows: Series 2</h3>
    <p>Series 2 shows an evolution of my generative art techniques and refinement of my printing process.</p>
    <h3>Propaganda</h3>
    <p>A video and accompanying booklet full of subversive rainbow propaganda.</p>
    <p><a class="btn" href="/">&laquo; back</a></p>
  </div>
  <div class="span9">
    <img src="/img/rainbows/computer-generated-rainbow.jpg" />
  </div>
</div>
{% endblock %}