{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span16">
    <h1>Pushing the limits of color and texture.</h1>
  </div>
</div>

<hr/>

<div class="row prepend-top2">
  <div class="span16">
    <h2>Illusions: 2009</h2>
    <h3>You Are Approaching The End Of The Sky</h3>
    <p>One of a kind monoprint. Generative art.</p>
    <img width="940" src="/img/illusions/approaching_end_of_sky.gif" />
    <p><a class="btn" href="/">&laquo; back</a></p>
  </div>
</div>
{% endblock content %}
