{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Pushing the limits of color and texture.</h1>
          <p>See more of my day-to-day art experiments on my art blog, <a href="http://www.aroygreenfeld.com/">The Art of A. Roy Greenfeld</a>.</p>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row">
        <div class="span-two-thirds">
          <a href="/art/art-installations/"><img src="/img/art-installations/installation-sharp-mountains.jpg" /></a>
          <h2>Art Installations: 2012-Present</h2>
           <p>I began working in a much larger scale in 2012, in collaboration with Daniel Greenfeld.</p>
          <p><a class="btn" href="/art/art-installations/">Explore the series &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <a href="/art/digital-rainbows/"><img src="/img/rainbows/computer-generated-rainbow.jpg" /></a>
          <h2>Digital Rainbows: 2007-2010</h2>
           <p>In 2007, I became obsessed with rainbows and clouds. </p>
          <p><a class="btn" href="/art/digital-rainbows/">Explore the series &raquo;</a></p>
       </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row">
        <div class="span-one-third">
          <a href="/art/oranges/"><img src="/img/oranges/orange-pulp-overview.jpg" /></a>
          <h2>Oranges: 2004-2010</h2>
          <p>From 2004 to 2010, I was obsessed with oranges.</p>
          <p><a class="btn" href="/art/oranges/">Explore the series &raquo;</a></p>
        </div>

        <div class="span-two-thirds">
          <a href="/art/relief-sculptures/"><img src="/img/relief-sculpture/bronze-drifting-away-620.jpg" /></a>
          <h2>Relief Sculptures: 2009-Present</h2>
           <p>My obsession with rainbows and clouds continued to grow, even when I switched media. </p>
          <p><a class="btn" href="/art/relief-sculptures/">Explore the series &raquo;</a></p>
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row">
        <div class="span-one-third">
          <a href="/art/sculptural-jewelry/"><img src="/img/sculptural-jewelry/woven-cloud-silver.jpg" /></a>
          <h2>Sculptural Jewelry: 2007-2009</h2>
          <p>From 2007 to 2009, I made sculptural silver jewelry.  Each piece was completely unique.</p>
          <p><a class="btn" href="/art/sculptural-jewelry/">Explore the series &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <a href="/art/desserts/"><img src="/img/desserts/two-cupcakes.jpg" /></a>
          <h2>Desserts: 2010</h2>
          <p>I forced myself to draw every dessert I ate, before I actually ate it.</p>
          <p><a class="btn" href="/art/desserts/">Explore the series &raquo;</a></p>
        </div>



        <div class="span-one-third">
          <a href="/art/illusions/"><img src="/img/illusions/violet-aqua.jpg" /></a>
          <h2>Illusions: 2009</h2>
          <p>My attempts at making the viewer as dizzy and disoriented as possible through visual art.</p>
          <p><a class="btn" href="/art/illusions/">Explore the series &raquo;</a></p>
        </div>
      </div>
{% endblock %}
