{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="span16">
    <h1>Pushing the limits of color and texture.</h1>
  </div>
</div>

<hr/>

<!-- Top row of columns -->
<div class="row prepend-top2">
  <div class="span7">
    <h2>Oranges: 2004-2010</h2>
    <p>From 2004 to 2010, I was obsessed with oranges.</p>
    <p><em>Orange Pulp</em> is a series of over 100 bright, colorful illustrations of oranges.</p>
    <h3>Prints</h3>
    <p>Limited-edition prints of some of the illustrations in this series are available.  Contact me for details.</p>
    <h3>The book</h3>
    <p>My book, <em>Orange Pulp: The Strange and Silly Secret World of Oranges</em>, will be available in June 2012.</p>
    <h3>Pieces available for showing</h3>
    <p>I have a set of some of the best pieces from this series framed with descriptions and ready for exhibition.  Contact me for details.</p>
    <p><a class="btn" href="/">&laquo; back</a></p>
  </div>
  <div class="span9">
    <img src="/img/oranges/orange-pulp-overview.jpg" />
  </div>
</div>
{% endblock %}