body{padding-top:60px;}
.span-one-third img{width:300px;}

/* Add space above/below a grid element */
.prepend-top{margin-top:12px;}
.prepend-top2{margin-top:24px;}
.append-bottom{margin-bottom:12px;}

