{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Architecture and Interiors</h2>
          <p>My work with architecture and interior design.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Cell Building, Sichuan University</h3>
          <p>Architectural commission in collaboration with Tsinghua Institute of Architectural Design and Research.  This was featured in the New York Times and various other publications.</p>
          <img src="/img/architecture-interiors/cell-building-interior.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}