{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Character Design</h2>
          <p>Various characters that I've created and designed.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Fluffy Puffy Cloud Pets - MySpace/OpenSocial app</h3>
          <img src="/img/character-art/fluffy-puffy-cloud-pets-animated.gif" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Scared of Rabbits</h3>
          <img src="/img/character-art/scared-of-rabbits-penguin.png" /><br/>
          <img src="/img/character-art/scared-of-rabbits-documentation-driven-development.png" /><br/>
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Fox Love</h3>
          <img src="/img/character-art/fox-love.jpg" />
        </div>
      </div>
      
      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}