{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Children's Illustrations: 2010</h2>
          <p>In 2010, I did various children's book and game illustrations.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>A Very Magical Caterpillar Tale</h3>
          <p>I wrote and illustrated this children's book about caterpillars and butterflies.</p>
          <img width="940" src="/img/caterpillar-book/caterpillar_book_canary.jpg" />
          <img width="940" src="/img/caterpillar-book/caterpillar_book_sneeze_large.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Sweet Little Eggs</h3>
          <p>I wrote and illustrated this children's game.</p>
          <img width="940" src="/img/design/sweet-little-eggs-gameplay.png" />
          <img width="940" src="/img/design/sweet-little-eggs-summary.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h3>Available for Other Projects</h3>
          <p>Have you written a children's book?  Are you interested in co-producing a children's game?  Or, are you a publishing company in need of an illustrator?</p>
          <p>If you believe you have a particularly compelling story that would fit my illustration style, let me know.</p>
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}