{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Icons</h2>
          <p>Here is a sampling of the icon work I've done.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Consumer Notebook: Electronics icons</h3>
          <img src="/img/icons/consumer-notebook-electronics-icons.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Monty Python icons</h3>
          <img src="/img/icons/monty-python-icons.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Astrology icons</h3>
          <img src="/img/icons/astrology-icons.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Kiva iPhone app icons</h3>
          <img src="/img/icons/kiva-iphone.png" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}