{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span-one-third">
          <a href="/design/icons/"><img src="/img/icons/monty-python-icons.jpg" /></a>
          <h2>Icons</h2>
          <p>Various icons that I've designed.</p>
          <p><a class="btn" href="/design/icons/">Explore &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <a href="/design/promotional-materials/"><img src="/img/promo-materials/apples-and-oranges.jpg" /></a>
          <h2>Promotional Materials</h2>
           <p>Posters, postcards, flyers, t-shirts, and other marketing materials that I've designed.</p>
          <p><a class="btn" href="/design/promotional-materials/">Explore &raquo;</a></p>
       </div>

        <div class="span-one-third">
          <a href="/design/childrens-illustrations/"><img src="/img/caterpillar-book/caterpillar_book_sneeze.jpg" /></a>
          <h2>Children's Illustrations</h2>
          <p>My children's book and game illustrations.</p>
          <p><a class="btn" href="/design/childrens-illustrations/">Explore &raquo;</a></p>
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row">
        <div class="span-one-third">
          <a href="/design/character-design/"><img src="/img/character-art/fluffy-puffy-cloud-pets-text.jpg" /></a>
          <h2>Character Design</h2>
          <p>Comic/character art that I've done.</p>
          <p><a class="btn" href="/design/character-design/">Explore &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <a href="/design/logos/"><img width="300" src="/img/logos/pyladies-logo-magenta-la-1695x1403.png" /></a>
          <h2>Logos</h2>
          <p>Logos that I've designed.</p>
          <p><a class="btn" href="/design/logos/">Explore &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <a href="/design/ui-mockups/"><img src="/img/ui-mockups/whydjango_mockup_small.png" /></a>
          <h2>UI Mockups</h2>
           <p>User interface mockups for websites and mobile apps.</p>
          <p><a class="btn" href="/design/ui-mockups/">Explore &raquo;</a></p>
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row">
        <div class="span-one-third">
          <a href="/design/architecture-interiors/"><img src="/img/architecture-interiors/cell-building-interior.jpg" /></a>
          <h2>Architecture and Interiors</h2>
          <p>I co-designed a building that was featured in the New York Times.  I've also done numerous interior renovations.</p>
          <p><a class="btn" href="/design/architecture-interiors/">Explore &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <a href="/design/infographics-infoposters/"><img src="/img/infographics-infoposters/the-problem-300x315.png" /></a>
          <h2>Infographics and Infoposters</h2>
          <p>Vertical infographics/infoposters that I've designed.</p>
          <p><a class="btn" href="/design/infographics-infoposters/">Explore &raquo;</a></p>
        </div>

        <div class="span-one-third">
          <a href="/design/misc/"><img src="/img/misc/credit-cards.jpg" /></a>
          <h2>Miscellaneous</h2>
          <p>Other miscellaneous design work.</p>
          <p><a class="btn" href="/design/misc/">Explore &raquo;</a></p>
        </div>

      </div>
{% endblock %}