{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Logos</h2>
          <p>A selection of logos that I've designed.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Audition Rocket</h3>
          <img src="/img/logos/rocket_orange_darkred_53x50.png" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>PyLadies</h3>
          <img src="/img/logos/pyladies-logo_300x300.png" /><br/>
          <img width="300" src="/img/logos/logo-redblue-dc-1695x1403.png" />
          <img width="300" src="/img/logos/pyladies-logo-magenta-la-1695x1403.png" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>CoolAider</h3>
          <img src="/img/logos/coolaider-creative-techies.png" />
        </div>
      </div>
      
      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Pacifica Stitch 'n Bitch logo and t-shirt</h3>
          <img src="/img/promo-materials/pacifica-stitch-and-bitch.jpg" />
        </div>
      </div>

      <hr/>


      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Django Packages / OpenComparison</h3>
          <img src="/img/logos/django-packages-logo.png" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}