{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>Promotional Materials</h2>
          <p>I've designed posters, postcards, flyers, t-shirts, and various other types of marketing materials.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Half Moon Bay Art & Pumpkin Festival poster</h3>
          <img src="/img/promo-materials/half-moon-bay-pumpkin-festival-poster.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Apples and Oranges postcard</h3>
          <img src="/img/promo-materials/apples-and-oranges.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Nanobanana Design postcard</h3>
          <img src="/img/promo-materials/nanobanana-design.jpg" />
        </div>
      </div>
      
      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Cartwheel t-shirt</h3>
          <img src="/img/promo-materials/cartwheel-tshirt.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}