{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="span16">
          <h1>Specializing in cute, playful designs and illustrations.</h1>
        </div>
      </div>

      <hr/>

      <!-- Top row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <h2>UI Mockups</h2>
          <p>A sampling of my UI mockup work.</p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Why Django? promo site</h3>
          <img width="500" src="/img/ui-mockups/whydjango_mockup_a.png" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>DogDogDogs mobile app</h3>
          <img src="/img/ui-mockups/dogdogdogs.png" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Audition Rocket UI workflow mockups</h3>
          <img src="/img/ui-mockups/audition-rocket-mockups.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Middle row of columns -->
      <div class="row prepend-top2">
        <div class="span16">
          <h3>Consumer Notebook functional mockups</h3>
          <img src="/img/ui-mockups/cn-categories-ui-mockup.png" style="border:1px #ccc solid" />
          <img width="700" src="/img/ui-mockups/cn-comparison-mockup.jpg" />
        </div>
      </div>

      <hr/>

      <!-- Bottom row of columns -->
      <div class="row prepend-top2">
        <div class="span7">
          <p><a class="btn" href="/design/">&laquo; back</a></p>
        </div>
        <div class="span9">
          &nbsp;
        </div>
      </div>
{% endblock %}