{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span16">
        <h1>I'm also a programmer.</h1>
        <p>I build Python, Django, and JavaScript web applications.  Now accepting new contract work through <a href="http://cartwheelweb.com">Cartwheel Web</a>.</p>
    </div>
</div>

<hr/>

<div class="row">
    <div class="span16">
        <h1>Open-source work</h1>
    </div>
</div>

<!-- Top row of columns -->
<div class="row prepend-top2">
    <div class="span6">
        <h2>OpenComparison</h2>
        <p>An open-source framework for creating package comparison sites.</p>
        <p>Co-lead developer with <a href="http://twitter.com/pydanny">Daniel Greenfeld</a>.</p>
        <p><a class="btn" href="http://opencomparison.org">Learn more &raquo;</a></p>
    </div>

    <div class="span10">
        <a href="http://opencomparison.org"><img width="580" src="/img/code/dp-772x435.png" style="border:1px #ccc solid" /></a>
    </div>
</div>

<hr/>

<div class="row">
    <div class="span16">
        <h1>Conference Talks</h1>
    </div>
</div>

<div class="row prepend-top2">
    <div class="span6">
        <h2>PyCon Australia</h2>
        <p>I gave the opening keynote speech at PyCon Australia 2011, in Sydney, Australia.</p>
    </div>

    <div class="span10">
        <div style="width:425px" id="__ss_8952286"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/audreyr/pycon-australia-2011-keynote-audrey-roy" title="Pycon Australia 2011 Keynote - Audrey Roy" target="_blank">Pycon Australia 2011 Keynote - Audrey Roy</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/8952286" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/audreyr" target="_blank">Audrey Roy</a> </div> </div>
    </div>
</div>

<div class="row prepend-top2">
    <div class="span6">
        <h2>Kiwi PyCon</h2>
        <p>I gave the opening keynote speech at Kiwi PyCon 2011, in Wellington, New Zealand.</p>
    </div>

    <div class="span10">
        <div style="width:425px" id="__ss_9037404"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/audreyr/kiwi-pycon-2011-audrey-roy-keynote-speech" title="Kiwi PyCon 2011 - Audrey Roy Keynote Speech" target="_blank">Kiwi PyCon 2011 - Audrey Roy Keynote Speech</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9037404" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/audreyr" target="_blank">Audrey Roy</a> </div> </div>
    </div>
</div>

<div class="row prepend-top2">
    <div class="span6">
        <h2>PyCodeConf</h2>
        <p>I was an invited speaker at PyCodeConf 2011 in Miami, Florida.</p>
    </div>

    <div class="span10">
        <div style="width:425px" id="__ss_9597722"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/audreyr/amazing-thingspycodeconfaudreyroy" title="Amazing Things: Third-Party Python Package Ecosystems" target="_blank">Amazing Things: Third-Party Python Package Ecosystems</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9597722" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/audreyr" target="_blank">Audrey Roy</a> </div> </div>
    </div>
</div>

<div class="row prepend-top2">
    <div class="span6">
        <h2>DjangoCon</h2>
        <p>As the co-lead developer behind Django Packages and the OpenComparison framework, I've had the opportunity to compare a lot packages and analyze what makes the good ones stand out.</p>
        <p>I gave this talk at DjangoCon 2011 in Portland, Oregon.</p>
    </div>

    <div class="span10">
        <div style="width:425px" id="__ss_9168634"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/audreyr/django-package-thunderdome-by-audrey-roy-daniel-greenfeld" title="Django Package Thunderdome by Audrey Roy &amp; Daniel Greenfeld" target="_blank">Django Package Thunderdome by Audrey Roy &amp; Daniel Greenfeld</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9168634" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> View more <a href="http://www.slideshare.net/" target="_blank">presentations</a> from <a href="http://www.slideshare.net/audreyr" target="_blank">Audrey Roy</a> </div> </div>
    </div>
</div>
{% endblock %}
